@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

.productContainer {
    font-family: "Oswald", sans-serif;
    display: flex;
    align-items: flex-start;
    gap: 40px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.productImage img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.productDetails {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.productTitle {
    font-weight: 500;
    font-size: 2rem;
    color: #333;
    margin: 0;
}

.productDescription {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
}

.productPrice {
    font-size: 1.4rem;
    color: #333;
}

.productPrice strong {
    color: #aac5e2;
    margin-left: 10px;
    position: relative;
}

.productPrice strong::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #aac5e2;
    transition: width 0.3s ease;
}

.productPrice strong:hover::after {
    width: 100%;
}

.orderButton {
    padding: 15px 30px;
    font-size: 1.1rem;
    color: #fff;
    background-color: #aac5e2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.orderButton:hover {
    background-color: #aab9c9;
}

.detailsButton {
    padding: 15px 30px;
    font-size: 1.1rem;
    color: #fff;
    background-color: #aac5e2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.detailsButton:hover {
    background-color: #aab9c9;
}

.productBenefits {
    list-style: none;
    padding: 0;
    margin: 0;
}

.productBenefits li {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

.productBenefits li::before {
    content: "✔";
    color: #aac5e2;
    position: absolute;
    left: 0;
}